<nav>
    <ul>
        <li>
            <a href="{{ path("test3") }}">Test 3</a>
        </li>
        <li>
            <a href="{{ path("test6") }}">Liste Pays</a>
        </li>
        <li>
            <a href="{{ path("form") }}">Form</a>
        </li>
        <li>
            <a href="{{ path("exo2") }}">Exo 2</a>
        </li>
    </ul>
</nav>